<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.pyh.dao.FilmMapper">

    <resultMap id="BaseResultMap" type="Film">
        <id property="film_id" column="film_id" jdbcType="INTEGER" javaType="java.lang.Integer"></id>
        <result property="title" column="title"></result>
        <result property="description" column="description" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result property="release_year" column="release_year" javaType="java.util.Date"></result>
        <result property="language_id" column="language_id"></result>
        <result property="original_language_id" column="original_language_id"></result>
        <result property="rental_duration" column="rental_duration" javaType="java.lang.Integer"></result>
        <result property="rental_rate" column="rental_rate" javaType="java.lang.Double"></result>
        <result property="length" column="length" javaType="java.lang.Integer"></result>
        <result property="replacement_cost" column="replacement_cost" javaType="java.lang.Double"></result>
        <result property="rating" column="rating" javaType="java.lang.String"></result>
        <result property="special_features" column="special_features" javaType="java.lang.String"></result>
        <result property="last_update" column="last_update" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>
    </resultMap>

<!--`title`,问题   -->
    <sql id="Base_Column_List">
        film_id,  release_year, `language_id`, original_language_id,
            `rental_duration`, `rental_rate`, `length`, `replacement_cost`, rating, `special_features`, last_update
    </sql>

<!--    useGeneratedKeys="true" keyProperty="film_id"-->
    <insert id="insertFilm" parameterType="Film" useGeneratedKeys="true" keyProperty="film_id">
        insert into film
        (title, language_id, rental_duration, rental_rate, replacement_cost)
        values (
        #{title, jdbcType=VARCHAR}, #{language_id, jdbcType=INTEGER}, #{rental_duration, jdbcType=INTEGER},
        #{rental_rate}, #{replacement_cost}
        )
    </insert>

    <select id="queryFilm" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
            <include refid="Base_Column_List"></include>
            , title, description
        from film
        where film_id = #{film_id}
    </select>

    <select id="listFilm" resultMap="BaseResultMap" parameterType="Page">
        select
        <include refid="Base_Column_List"></include>
        , title
        from film
    </select>

</mapper>