<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.pyh.dao.FilmMapper">

<!--    <resultMap id="BaseResultMap" type="com.pyh.stock.Entry.StockDetail">-->
<!--        <id column="save_id" jdbcType="INTEGER" property="save_id"/>-->
<!--        <result column="stock_num" jdbcType="VARCHAR" property="stock_num"/>-->
<!--        <result column="open" jdbcType="VARCHAR" property="open"/>-->
<!--        <result column="close" jdbcType="VARCHAR" property="close"/>-->
<!--        <result column="high" jdbcType="VARCHAR" property="high"/>-->
<!--        <result column="low" jdbcType="VARCHAR" property="low"/>-->
<!--        <result column="volume" jdbcType="VARCHAR" property="volume"/>-->
<!--        <result column="up_time" jdbcType="VARCHAR" property="up_time"/>-->
<!--    </resultMap>-->

    <sql id="Base_Column_List">
        film_id, title, description, release_year, original_language_id,
         `length`, rating, `language_id`, `rental_duration`, `rental_rate`, `replacement_cost`, `special_features`, last_update
    </sql>

<!--    useGeneratedKeys="true" keyProperty="film_id"-->
    <insert id="insertFilm" parameterType="Film" useGeneratedKeys="true" keyProperty="film_id">
        insert into film
        (title, language_id, rental_duration, rental_rate, replacement_cost)
        values (
        #{title, jdbcType=VARCHAR}, #{language_id, jdbcType=INTEGER}, #{rental_duration, jdbcType=INTEGER},
        #{rental_rate}, #{replacement_cost}
        )
    </insert>

    <select id="queryFilm" parameterType="java.lang.Integer" resultType="Film">
        select * from film where film_id = #{film_id}
    </select>

<!--    <insert id="insertListData" parameterType="java.util.List">-->
<!--        insert into stock_detail (stock_num, `open`, `close`, `high`, `low`, `volume`, up_time)-->
<!--        values-->
<!--        <foreach collection="list" item="item" index="index" separator=",">-->
<!--            (#{item.stock_num},#{item.open},#{item.close},#{item.high},#{item.low},#{item.volume},#{item.up_time})-->
<!--        </foreach>-->
<!--    </insert>-->
</mapper>